@model HomeIndexViewModel;
<h3 class="text-center">@Model.Title</h3>
<form  asp-action="create"  asp-controller="home">
    <a href="/home/create" class="btn btn-primary">+ Add new Car</a>
</form>
<table class="table">
    <thead>
        <tr>
            <td>Car ID</td>
            <td>Model</td>
            <td>Price</td>
            <td>Date of create</td>
            <td>Color</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Model</td>
                <td>@car.Price</td>
                <td>@car.CreatedDate</td>
                <td>@car.Color</td>
            </tr>
        }
    </tbody>
</table>